<div class="demo-container demo-layout-transparent">
  <!-- Importamos el Header -->
  <app-header></app-header>

  <!-- Dialog Archivos -->
  <p-dialog header="{{msg.lbl_subir_archivos}}" [(visible)]="displayModal" [modal]="true" [style]="{width: '80vw'}"
    [baseZIndex]="1010" [draggable]="false" [resizable]="false">

    <!-- Notificaciones -->
    <p-toast></p-toast>

    <div class="ui-g center">
      <div class="ui-g-10 ui-lg-10 ui-md-10 ui-sm-12 ui-xs-12 ui-g-nopad">
        <p-fileUpload name="files[]" url="./upload.php" customUpload="true" (uploadHandler)="onUpload($event)"
          fileLimit="5" multiple="multiple" accept="image/*" maxFileSize="1000000" chooseLabel="{{msg.lbl_btn_escoger}}"
          uploadLabel="{{msg.lbl_btn_subir}}" cancelLabel="{{msg.lbl_btn_cancelar}}">

          <ng-template pTemplate="toolbar">
            <div class="filesText">Archivos Subidos: ({{uploadedFiles.length}})</div>
          </ng-template>

          <ng-template pTemplate="content">
            <div class="details">
              <div *ngFor="let file of fotos" class="p-grid p-nogutter">
                <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 ui-xs-12 ui-g-nopad">
                  <div class="file-title w100">
                    <div class="ui-g center">
                      <div class="ui-g-4 ui-lg-4 ui-md-4 ui-sm-12 ui-xs-12 ui-g-nopad">
                        <img style="width: auto; height: 100px;"
                          [src]="file != null ? file.valor : 'assets/images/gif/buscar-archivo.gif'" />
                      </div>
                      <div class="ui-g-4 ui-lg-4 ui-md-4 ui-sm-12 ui-xs-12 ui-g-nopad ellipsis">
                        <i class="font-size-12p material-icons">description</i>
                        {{file.nombreArchivo}}
                      </div>
                      <div class="ui-g-4 ui-lg-4 ui-md-4 ui-sm-12 ui-xs-12 ui-g-nopad">
                        <button pButton type="button" class="ui-button-secondary btn-circle"
                          icon="pi pi-search"></button>
                        <span class="ui-float-label">
                          <ng-select [(ngModel)]="file.tipoArchivo" [items]="enumFotos">
                          </ng-select>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-fileUpload>
      </div>
    </div>
  </p-dialog>

  <mdl-layout>
    <mdl-layout-drawer>
      <img class="logoSidebar" src="/assets/images/MusicRoomLogoLargeT.png" alt="logo" />
      <!-- Importamos el Sidebar o Menú Lateral -->
      <app-sidebar></app-sidebar>
    </mdl-layout-drawer>

    <mdl-layout-content>
      <p-scrollPanel [style]="{width: '100%', height: '100vh'}" styleClass="custom">
        <div class="body-content">
          <!-- Aquí creamos nuestro contenido para las diferentes páginas -->
          <div class="content-page">
            <div class="ui-g">
              <div class="ui-lg-12 ui-md-12 ui-sm-12 ui-xs-12 ui-g-nopad espacioFooter">
                <h5 class="shadow mttoTitle shiny fontNosifer">{{msg.lbl_mtto_sala_title}} -
                  {{phase === const.phaseAdd ? msg.lbl_btn_crear : msg.lbl_btn_editar}}
                </h5>

                <div class="ui-g center">
                  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__supporting-text">
                      <div class="ui-g center">
                        <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-6 ui-xs-12 ui-g-nopad">
                          <label class="obligatorio" for="float-input">{{msg.lbl_mtto_sala_nombre}}</label>
                          <span class="ui-float-label">
                            <input pInputText id="txtNombreSala" (keydown)="guardaTeclaEnter($event)"
                              [(ngModel)]="objeto.nombreSala" type="text" size="50">
                          </span>
                        </div>
                        <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-6 ui-xs-12 ui-g-nopad">
                          <label class="obligatorio" for="float-input">{{msg.lbl_mtto_sala_tercero}}</label>
                          <span class="ui-float-label">
                            <ng-select id="txtTercero" [(ngModel)]="terceroSeleccionado" [items]="enumFiltroTerceros">
                            </ng-select>
                          </span>
                        </div>
                        <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-6 ui-xs-12 ui-g-nopad">
                          <label class="obligatorio" for="float-input">{{msg.lbl_mtto_generico_activo}}</label>
                          <span class="ui-float-label">
                            <ng-select id="txtEstado" [(ngModel)]="objeto.estado" [items]="enumSiNo">
                            </ng-select>
                          </span>
                        </div>
                      </div>
                      <div class="ui-g center">
                        <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-12 ui-xs-12 ui-g-nopad">
                          <label class="obligatorio" for="float-input">{{msg.lbl_mtto_sala_foto_principal}}</label>
                          <div class="drag-container">
                            <div class="drag-zone">
                              <p-card [style]="{padding: '0px !important'}">
                                <img class="imagenPrincipal"
                                  [src]="objeto.fotoPrincipalTb.valor != null ? objeto.fotoPrincipalTb.valor : 'assets/images/gif/buscar-archivo.gif'"
                                  alt="{{objeto.fotoPrincipalTb.nombreArchivo}}" />
                              </p-card>
                            </div>
                          </div>
                        </div>
                        <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-12 ui-xs-12 ui-g-nopad">
                          <div class="ui-g center">
                            <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-6 ui-xs-12 ui-g-nopad">
                              <label for="float-input">{{msg.lbl_mtto_sala_foto}} {{msg.lbl_mtto_sala_1}}</label>
                              <div class="drag-container-mini">
                                <div class="drag-zone">
                                  <p-card [style]="{padding: '0px !important'}">
                                    <img class="imagenSecundaria"
                                      [src]="objeto.foto1Tb.valor != null ? objeto.foto1Tb.valor : 'assets/images/gif/buscar-archivo.gif'"
                                      alt="{{objeto.foto1Tb.nombreArchivo}}" />
                                  </p-card>
                                </div>
                              </div>
                            </div>
                            <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-6 ui-xs-12 ui-g-nopad">
                              <label for="float-input">{{msg.lbl_mtto_sala_foto}} {{msg.lbl_mtto_sala_2}}</label>
                              <div class="drag-container-mini">
                                <div class="drag-zone">
                                  <p-card [style]="{padding: '0px !important'}">
                                    <img class="imagenSecundaria"
                                      [src]="objeto.foto2Tb.valor != null ? objeto.foto2Tb.valor : 'assets/images/gif/buscar-archivo.gif'"
                                      alt="{{objeto.foto2Tb.nombreArchivo}}" />
                                  </p-card>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="ui-g center">
                            <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-6 ui-xs-12 ui-g-nopad">
                              <label for="float-input">{{msg.lbl_mtto_sala_foto}} {{msg.lbl_mtto_sala_3}}</label>
                              <div class="drag-container-mini">
                                <div class="drag-zone">
                                  <p-card [style]="{padding: '0px !important'}">
                                    <img class="imagenSecundaria"
                                      [src]="objeto.foto3Tb.valor != null ? objeto.foto3Tb.valor : 'assets/images/gif/buscar-archivo.gif'"
                                      alt="{{objeto.foto3Tb.nombreArchivo}}" />
                                  </p-card>
                                </div>
                              </div>
                            </div>
                            <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-6 ui-xs-12 ui-g-nopad">
                              <label for="float-input">{{msg.lbl_mtto_sala_foto}} {{msg.lbl_mtto_sala_4}}</label>
                              <div class="drag-container-mini">
                                <div class="drag-zone">
                                  <p-card [style]="{padding: '0px !important'}">
                                    <img class="imagenSecundaria"
                                      [src]="objeto.foto4Tb.valor != null ? objeto.foto4Tb.valor : 'assets/images/gif/buscar-archivo.gif'"
                                      alt="{{objeto.foto4Tb.nombreArchivo}}" />
                                  </p-card>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="ui-g center">
                        <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-6 ui-xs-12 ui-g-nopad">
                          <button (click)="showDialog()" mdl-button mdl-tooltip-position="top"
                            mdl-tooltip-large="{{msg.lbl_tip_subir_archivos}}" type="button" mdl-button-type="raised"
                            mdl-colored="accent">
                            <i class="material-icons">description</i> {{msg.lbl_subir_archivos}}
                          </button>
                        </div>
                      </div>

                      <div class="ui-g center">
                        <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-12 ui-xs-12 ui-g-nopad">
                          <label for="float-input">{{msg.lbl_mtto_sala_info_adicional}}</label>
                          <span class="ui-float-label">
                            <textarea class="w100" id="txtInfoAdicional" pInputTextarea
                              (keydown)="guardaTeclaEnter($event)" [rows]="3"
                              [(ngModel)]="objeto.infoAdicional"></textarea>
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="mdl-card__actions mdl-card--border">
                      <div class="ui-g center">
                        <div class="ui-g-2 ui-lg-2 ui-md-4 ui-sm-6 ui-xs-12 ui-g-nopad">
                          <button (click)="irAtras()" mdl-button mdl-tooltip-position="top"
                            mdl-tooltip-large="{{msg.lbl_tip_anterior}}" type="button" mdl-button-type="raised"
                            mdl-colored="primary">
                            <i class="material-icons">arrow_back</i> {{msg.lbl_btn_atras}}
                          </button>
                        </div>
                        <div class="ui-g-2 ui-lg-2 ui-md-4 ui-sm-6 ui-xs-12 ui-g-nopad">
                          <button (click)="irGuardar()" mdl-button mdl-tooltip-position="top"
                            mdl-tooltip-large="{{msg.lbl_tip_guardar}}" type="button" mdl-button-type="raised"
                            mdl-colored="accent">
                            <i class="material-icons">save</i> {{msg.lbl_btn_guardar}}
                          </button>
                        </div>
                      </div>

                      <div class="ui-g center">
                        <p-messages class="w100"></p-messages>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-scrollPanel>
    </mdl-layout-content>
  </mdl-layout>

  <!-- Importamos el Footer -->
  <app-footer></app-footer>
</div>