<script type="text/javascript">
  window.addEventListener("dragover", function (e) {
    e = e || event;
    e.preventDefault();
  }, false);
  window.addEventListener("drop", function (e) {
    e = e || event;
    e.preventDefault();
  }, false);
</script>

<div class="demo-container demo-layout-transparent">
  <!-- Importamos el Header -->
  <app-header></app-header>

  <!-- Notificaciones -->
  <p-toast></p-toast>

  <mdl-layout>
    <mdl-layout-drawer>
      <img class="logoSidebar" src="/assets/images/MusicRoomLogoLargeT.png" alt="logo" />
      <!-- Importamos el Sidebar o Menú Lateral -->
      <app-sidebar></app-sidebar>
    </mdl-layout-drawer>

    <mdl-layout-content>
      <p-scrollPanel [style]="{width: '100%', height: '100vh'}" styleClass="custom">
        <div class="body-content">
          <!-- Aquí creamos nuestro contenido para las diferentes páginas -->
          <div class="content-page">
            <div class="ui-g">
              <div class="ui-lg-12 ui-md-12 ui-sm-12 ui-xs-12 ui-g-nopad espacioFooter">
                <h5 class="shadow mttoTitle shiny fontNosifer">{{msg.lbl_mtto_sala_title}} -
                  {{phase === const.phaseAdd ? msg.lbl_btn_crear : msg.lbl_btn_editar}}
                </h5>

                <div class="ui-g center">
                  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__supporting-text">
                      <div class="ui-g center">
                        <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-6 ui-xs-12 ui-g-nopad">
                          <label class="obligatorio" for="float-input">{{msg.lbl_mtto_sala_nombre}}</label>
                          <span class="ui-float-label">
                            <input pInputText id="txtNombreSala" (keydown)="guardaTeclaEnter($event)"
                              [(ngModel)]="objeto.nombreSala" type="text" size="50">
                          </span>
                        </div>
                        <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-6 ui-xs-12 ui-g-nopad">
                          <label class="obligatorio" for="float-input">{{msg.lbl_mtto_sala_tercero}}</label>
                          <span class="ui-float-label">
                            <ng-select id="txtTercero" [(ngModel)]="terceroSeleccionado" [items]="enumFiltroTerceros">
                            </ng-select>
                          </span>
                        </div>
                        <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-6 ui-xs-12 ui-g-nopad">
                          <label class="obligatorio" for="float-input">{{msg.lbl_mtto_generico_activo}}</label>
                          <span class="ui-float-label">
                            <ng-select id="txtEstado" [(ngModel)]="objeto.estado" [items]="enumSiNo">
                            </ng-select>
                          </span>
                        </div>
                      </div>

                      <div class="ui-g center">
                        <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-12 ui-xs-12 ui-g-nopad">
                          <label class="obligatorio" for="float-input">{{msg.lbl_mtto_sala_foto_principal}}</label>
                          <section>
                            <div class="dropzoneC" (drop)="onUpload($event, 0)" (dragover)="dragOver($event)">
                              <div class="dz-message">
                                <img *ngIf="objeto.fotoPrincipalTb.valor != null; else mensajeSubirArchivos"
                                  class="imagenPrincipal" [src]="objeto.fotoPrincipalTb.valor"
                                  alt="{{objeto.fotoPrincipalTb.nombreArchivo}}" />
                                <ng-template #mensajeSubirArchivos>
                                  <span class="note">{{msg.lbl_mensaje_dropzone_principal}}</span>
                                  <br>{{msg.lbl_mensaje_dropzone_secundario}}
                                </ng-template>
                              </div>
                            </div>
                            <div class="espacio10px"></div>
                            <form id="formDropZoneFotoPrincipal" action="" method="POST" enctype="multipart/form-data">
                              <button (click)="clickFileUpPrincipal();" mdl-button mdl-tooltip-position="top"
                                mdl-tooltip-large="{{msg.lbl_tip_subir_archivos}}" type="button"
                                mdl-button-type="raised" mdl-colored="accent">
                                <i class="material-icons">description</i> {{msg.lbl_btn_escoger_archivo}}
                              </button>
                              <input style="display: none" type="file" accept="image/*" id="fileUpPrincipal"
                                (change)="onUpload($event, 0)" multiple="1">
                            </form>
                          </section>
                        </div>

                        <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-6 ui-xs-12 ui-g-nopad">
                          <div class="ui-g center">
                            <h1 class="banner">{{msg.lbl_mtto_sala_foto_principal}}</h1>
                          </div>
                          <div class="ui-g center">
                            <h1 class="banner">{{msg.lbl_mtto_sala_foto}} {{msg.lbl_mtto_sala_1}}</h1>
                          </div>
                          <div class="ui-g center">
                            <h1 class="banner">{{msg.lbl_mtto_sala_foto}} {{msg.lbl_mtto_sala_2}}</h1>
                          </div>
                          <div class="ui-g center">
                            <h1 class="banner">{{msg.lbl_mtto_sala_foto}} {{msg.lbl_mtto_sala_3}}</h1>
                          </div>
                          <div class="ui-g center">
                            <h1 class="banner">{{msg.lbl_mtto_sala_foto}} {{msg.lbl_mtto_sala_4}}</h1>
                          </div>
                        </div>
                      </div>

                      <div class="ui-g center">
                        <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-12 ui-xs-12 ui-g-nopad">
                          <label for="float-input">{{msg.lbl_mtto_sala_info_adicional}}</label>
                          <span class="ui-float-label">
                            <textarea class="w100" id="txtInfoAdicional" pInputTextarea
                              (keydown)="guardaTeclaEnter($event)" [rows]="3"
                              [(ngModel)]="objeto.infoAdicional"></textarea>
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="mdl-card__actions mdl-card--border">
                      <div class="ui-g center">
                        <div class="ui-g-2 ui-lg-2 ui-md-4 ui-sm-6 ui-xs-12 ui-g-nopad">
                          <button (click)="irAtras()" mdl-button mdl-tooltip-position="top"
                            mdl-tooltip-large="{{msg.lbl_tip_anterior}}" type="button" mdl-button-type="raised"
                            mdl-colored="primary">
                            <i class="material-icons">arrow_back</i> {{msg.lbl_btn_atras}}
                          </button>
                        </div>
                        <div class="ui-g-2 ui-lg-2 ui-md-4 ui-sm-6 ui-xs-12 ui-g-nopad">
                          <button (click)="irGuardar()" mdl-button mdl-tooltip-position="top"
                            mdl-tooltip-large="{{msg.lbl_tip_guardar}}" type="button" mdl-button-type="raised"
                            mdl-colored="accent">
                            <i class="material-icons">save</i> {{msg.lbl_btn_guardar}}
                          </button>
                        </div>
                      </div>

                      <div class="ui-g center">
                        <p-messages class="w100"></p-messages>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-scrollPanel>
    </mdl-layout-content>
  </mdl-layout>

  <!-- Importamos el Footer -->
  <app-footer></app-footer>
</div>