<nav class="mdl-navigation">
    <a class="mdl-navigation__link" [routerLink]="['/usuarioQuery']" (click)="mdlLayout1.closeDrawer()">
        <mdl-icon>account_circle</mdl-icon>
        Usuarios
    </a>
    <a class="mdl-navigation__link" [routerLink]="['/usuarioQuery']" (click)="mdlLayout1.closeDrawer()">
        <mdl-icon>ballot</mdl-icon>
        Inventario
    </a>
    <a class="mdl-navigation__link" [routerLink]="['/usuarioEdit']" (click)="mdlLayout1.closeDrawer()">
        <mdl-icon>3d_rotation</mdl-icon>
        Movimientos
    </a>
    <a class="mdl-navigation__link" [routerLink]="['/usuarioEdit']" (click)="mdlLayout1.closeDrawer()">
        <mdl-icon>calendar_today</mdl-icon>
        Agenda
    </a>
</nav>