<div class="demo-container demo-layout-transparent">
  <!-- Importamos el Header -->
  <app-header></app-header>

  <mdl-layout>
    <mdl-layout-drawer>
      <img class="logoSidebar" src="/assets/images/MusicRoomLogoLargeT.png" alt="logo" />
      <!-- Importamos el Sidebar o Menú Lateral -->
      <app-sidebar></app-sidebar>
    </mdl-layout-drawer>

    <mdl-layout-content>
      <div class="body-content">
        <!-- Aquí creamos nuestro contenido para las diferentes páginas -->
        <div class="content-page">
          <div class="ui-g">
            <div class="ui-lg-12 ui-md-12 ui-sm-12 ui-xs-12 ui-g-nopad espacioFooter">
              <h5 class="shadow mttoTitle shiny fontNosifer">{{msg.lbl_mtto_ubicacion_title}} -
                {{msg.lbl_mtto_consulta}}
              </h5>

              <div class="ui-g center">
                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                  <div class="mdl-card__supporting-text">
                    <div class="ui-g center">
                      <div class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-6 ui-xs-12 ui-g-nopad">
                        <label for="float-input">{{msg.lbl_mtto_ubicacion_pais}}</label>
                        <span class="ui-float-label">
                          <ng-select id="txtPais" (change)="cargarDepartamentosPorPais($event)"
                            [(ngModel)]="paisSeleccionado" [items]="enumFiltroPaises">
                          </ng-select>
                        </span>
                      </div>
                      <div class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-6 ui-xs-12 ui-g-nopad">
                        <label for="float-input">{{msg.lbl_mtto_ubicacion_departamento}}</label>
                        <span class="ui-float-label">
                          <ng-select id="txtDepartamento" (change)="cargarCiudadesPorDepartamento($event)"
                            [disabled]="paisSeleccionado == null" [(ngModel)]="departamentoSeleccionado"
                            [items]="enumFiltroDepartamentos">
                          </ng-select>
                        </span>
                      </div>
                      <div class="ui-g-3 ui-lg-3 ui-md-4 ui-sm-6 ui-xs-12 ui-g-nopad">
                        <label for="float-input">{{msg.lbl_mtto_ubicacion_ciudad}}</label>
                        <span class="ui-float-label">
                          <ng-select [disabled]="departamentoSeleccionado == null || paisSeleccionado == null"
                            id="txtCiudad" [(ngModel)]="ciudadSeleccionada" [items]="enumFiltroCiudades">
                          </ng-select>
                        </span>
                      </div>
                    </div>

                    <br />

                    <div class="ui-g center">
                      <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 ui-xs-12 ui-g-nopad">
                        <app-consulta [btnEditar]="btnEditar" [btnEliminar]="btnEliminar"
                          (enviarObjetoEditar)="editar($event)" (enviarObjetoEliminar)="eliminar($event)"
                          [cabeceras]="listaCabeceras" [lista]="listaConsulta">
                        </app-consulta>
                      </div>
                    </div>
                  </div>

                  <div class="mdl-card__actions mdl-card--border">
                    <div class="ui-g center">
                      <div class="ui-g-2 ui-lg-2 ui-md-4 ui-sm-6 ui-xs-12 ui-g-nopad">
                        <button (click)="consultarUbicaciones()" mdl-button mdl-tooltip-position="top"
                          mdl-tooltip-large="{{msg.lbl_tip_buscar}}" type="button" mdl-button-type="raised"
                          mdl-colored="primary">
                          <i class="material-icons">search</i> {{msg.lbl_btn_consultar}}
                        </button>
                      </div>
                      <div class="ui-g-2 ui-lg-2 ui-md-4 ui-sm-6 ui-xs-12 ui-g-nopad">
                        <button (click)="irCrear()" mdl-button mdl-tooltip-position="top"
                          mdl-tooltip-large="{{msg.lbl_tip_agregar}}" type="button" mdl-button-type="raised"
                          mdl-colored="accent">
                          <i class="material-icons">add</i> {{msg.lbl_btn_crear}}
                        </button>
                      </div>
                    </div>

                    <div class="ui-g center">
                      <p-messages class="w100"></p-messages>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mdl-layout-content>
  </mdl-layout>

  <!-- Importamos el Footer -->
  <app-footer></app-footer>
</div>

<p-toast position="top-right" styleClass="custom-toast">
  <ng-template let-message pTemplate="message">
    <div style="width: 100%;">
      <p style="font-size: 12px !important" innerHtml="{{ex.mensaje}}"></p>
    </div>
  </ng-template>
</p-toast>