<div class="demo-container demo-layout-transparent">
	<mdl-layout>
		<mdl-layout-content>
			<p-scrollPanel [style]="{width: '100%', height: '100vh'}" styleClass="custom">
				<div class="body-content">
					<div class="content-page-login">
						<div class="ui-g">
							<div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-12 ui-xs-12 ui-g-nopad center hidden-sm">
								<img class="alturaImgLogin" src="/assets/images/MusicRoomLogoLargeT.png"
									alt="imagenLogin" />
							</div>

							<div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-12 ui-xs-12 ui-g-nopad center">
								<div class="ui-inputgroup mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<span class="ui-inputgroup-addon">
										<mdl-icon>people</mdl-icon>
									</span>
									<input class="mdl-textfield__input" [(ngModel)]="usuario.usuario" type="text"
										pInputText placeholder="Usuario">
								</div>
								<div class="ui-inputgroup mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
									<span class="ui-inputgroup-addon">
										<mdl-icon>lock</mdl-icon>
									</span>
									<input class="mdl-textfield__input" [(ngModel)]="usuario.password" type="password"
										pInputText placeholder="Clave">
								</div>

								<div class="ui-g center">
									<div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-6 ui-xs-12 ui-g-nopad">
										<button mdl-button (click)="login()" mdl-button-type="raised"
											mdl-colored="accent">Ingresar</button>
									</div>
									<div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-6 ui-xs-12 ui-g-nopad">
										<button mdl-button (click)="irDashboard()" mdl-button-type="raised"
											mdl-colored="primary">Registrarse</button>
									</div>
								</div>
							</div>
						</div>
						<div class="ui-g">
							<div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 ui-xs-12 ui-g-nopad fontWhite center">
								<p-messages class="w100" severity="const.severity[2]" [(value)]="msgs"></p-messages>
								<p>Template by <a href="https://www.linkedin.com/in/carlos-baene/">CMVB Projects</a>.
								</p>
								<p>Copyright © 2019 CMVB All rights reserved. Dev: Carlos Baene</p>
							</div>
						</div>
					</div>
				</div>
			</p-scrollPanel>
		</mdl-layout-content>
	</mdl-layout>
</div>

<style>
	.mdl-layout__content {
		background-image: url('assets/images/fondoMusicRoom.png') !important;
	}
</style>