<footer class="footer mdl-mini-footer">
    <div class="ui-g" style="width: 100%">
        <div class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 ui-xs-12 ui-g-nopad fontWhite center">
            <p>Template by <a href="https://www.linkedin.com/in/carlos-baene/">CMVB Projects</a>.</p>
            <p style="color: gray">Copyright © 2019 CMVB All rights reserved. Dev: Carlos Baene</p>
            <img src="/assets/images/logoProjects.png" alt="logo-cmvb-p" class="logoProjects" />
        </div>
    </div>
</footer>