<mdl-layout>
    <mdl-layout-header>
        <mdl-layout-header-row>
            <img class="logo" src="/assets/images/MusicRoomLogoLarge.png" alt="logo" />
            <mdl-layout-spacer></mdl-layout-spacer>
            <nav class="mdl-navigation">
                <ul class="demo-list-icon mdl-list list-inline">
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="fontWhite shiny material-icons mdl-list__item-icon">supervised_user_circle</i>
                            <p class="fontNosifer fontWhite"><span class="fontBold">{{msg.lbl_header_usuario}}
                                </span>{{usuarioTb.usuario}}</p>
                        </span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="fontWhite shiny material-icons mdl-list__item-icon">contacts</i>
                            <p class="fontNosifer fontWhite"><span class="fontBold">{{msg.lbl_header_nombre}}
                                </span>{{usuarioTb.nombre}} {{usuarioTb.apellido}}</p>
                        </span>
                    </li>
                </ul>

                <button mdl-tooltip-position="bottom" mdl-tooltip-large="{{msg.lbl_tip_cerrar_sesion}}"
                    (click)="cerrarSesion()"
                    class="warningHover shiny mdl-button mdl-js-button mdl-button--icon minWidth32">
                    <i class="material-icons">power_settings_new</i>
                </button>
            </nav>
        </mdl-layout-header-row>
    </mdl-layout-header>
</mdl-layout>

<!-- Notificaciones -->
<p-toast></p-toast>