<script type="text/javascript">
  window.addEventListener("dragover", function (e) {
    e = e || event;
    e.preventDefault();
  }, false);
  window.addEventListener("drop", function (e) {
    e = e || event;
    e.preventDefault();
  }, false);
</script>

<div class="demo-container demo-layout-transparent">
  <!-- Importamos el Header -->
  <app-header></app-header>

  <mdl-layout>
    <mdl-layout-drawer>
      <img class="logoSidebar" src="/assets/images/MusicRoomLogoLargeT.svg" alt="logo" />
      <!-- Importamos el Sidebar o Menú Lateral -->
      <app-sidebar></app-sidebar>
    </mdl-layout-drawer>

    <mdl-layout-content>
      <p-scrollPanel [style]="{width: '100%', height: '100vh', background: 'url(assets/images/modulos/salas.jpg)'}"
        styleClass="custom fondo-cover">
        <div class="body-content">
          <!-- Aquí creamos nuestro contenido para las diferentes páginas -->
          <div class="content-page">
            <div class="ui-g">
              <div class="ui-lg-12 ui-md-12 ui-sm-12 ui-xs-12 ui-g-nopad espacioFooter">
                <h5 class="shadow mttoTitle shiny fontNosifer">{{msg.lbl_mtto_sala_title}} -
                  {{phase === const.phaseAdd ? msg.lbl_btn_crear : msg.lbl_btn_editar}}
                </h5>

                <div class="ui-g center">
                  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__supporting-text">
                      <div class="ui-g center">
                        <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-6 ui-xs-12 ui-g-nopad">
                          <label class="obligatorio" for="float-input">{{msg.lbl_mtto_sala_nombre}}</label>
                          <span class="ui-float-label">
                            <input pInputText id="txtNombreBanda" (keydown)="guardaTeclaEnter($event)"
                              [(ngModel)]="objeto.bandaTb.nombreBanda" type="text" size="50">
                          </span>
                        </div>
                        <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-6 ui-xs-12 ui-g-nopad">
                          <label class="obligatorio" for="float-input">{{msg.lbl_mtto_sala_tercero}}</label>
                          <span class="ui-float-label">
                            <ng-select id="txtTercero" [(ngModel)]="terceroSeleccionado" [items]="enumFiltroTerceros">
                            </ng-select>
                          </span>
                        </div>
                        <div class="ui-g-3 ui-lg-3 ui-md-6 ui-sm-6 ui-xs-12 ui-g-nopad">
                          <label class="obligatorio" for="float-input">{{msg.lbl_mtto_generico_activo}}</label>
                          <span class="ui-float-label">
                            <ng-select id="txtEstado" [(ngModel)]="objeto.estado" [items]="enumSiNo">
                            </ng-select>
                          </span>
                        </div>
                      </div>

                      <div class="ui-g center">
                        <div class="ui-g-7 ui-lg-7 ui-md-7 ui-sm-12 ui-xs-12 ui-g-nopad">
                          <section id="sectionFoto" class="seccionFoto">
                            <label class="obligatorio" for="float-input">{{msg.lbl_mtto_sala_foto_principal}}</label>
                            <div class="dropzoneC" mdl-tooltip-position="bottom"
                              mdl-tooltip-large="{{msg.lbl_tip_subir_archivos}}"
                              (click)="clickFileUp('fileUpPrincipal');" (drop)="onUpload($event, 0)"
                              (dragover)="dragOver($event)">
                              <div class="dz-message">
                                <img *ngIf="srcFotoPrincipal != null; else mensajeSubirArchivos" class="imagenPrincipal"
                                  [src]="srcFotoPrincipal"
                                  alt="{{objeto.fotoPrincipalTb != null ? objeto.fotoPrincipalTb.nombreArchivo : ''}}" />
                                <ng-template #mensajeSubirArchivos>
                                  <span class="note">{{msg.lbl_mensaje_dropzone_principal}}</span>
                                  <br>{{msg.lbl_mensaje_dropzone_secundario}}
                                </ng-template>
                              </div>
                            </div>
                            <div class="espacio10px"></div>
                            <form id="formDropZoneFotoPrincipal" action="" method="POST" enctype="multipart/form-data">
                              <input style="display: none" type="file" accept="{{acceptStr}}" id="fileUpPrincipal"
                                (change)="onUpload($event, 0)" multiple="1">
                            </form>
                          </section>

                          <section id="sectionFoto1" class="seccionFoto displayNone">
                            <label for="float-input">{{msg.lbl_mtto_sala_foto}} {{msg.lbl_mtto_sala_1}}</label>
                            <div class="dropzoneC" mdl-tooltip-position="bottom"
                              mdl-tooltip-large="{{msg.lbl_tip_subir_archivos}}" (click)="clickFileUp('fileUp1');"
                              (drop)="onUpload($event, 1)" (dragover)="dragOver($event)">
                              <div class="dz-message">
                                <img *ngIf="srcFoto1 != null; else mensajeSubirArchivos" class="imagenPrincipal"
                                  [src]="srcFoto1"
                                  alt="{{objeto.foto1Tb != null ? objeto.foto1Tb.nombreArchivo : ''}}" />
                                <ng-template #mensajeSubirArchivos>
                                  <span class="note">{{msg.lbl_mensaje_dropzone_principal}}</span>
                                  <br>{{msg.lbl_mensaje_dropzone_secundario}}
                                </ng-template>
                              </div>
                            </div>
                            <div class="espacio10px"></div>
                            <form id="formDropZoneFoto1" action="" method="POST" enctype="multipart/form-data">
                              <input style="display: none" type="file" accept="{{acceptStr}}" id="fileUp1"
                                (change)="onUpload($event, 1)" multiple="1">
                            </form>
                          </section>
                        </div>

                        <div class="ui-g-5 ui-lg-5 ui-md-5 ui-sm-12 ui-xs-12 ui-g-nopad">
                          <label class="obligatorio" for="float-input">{{msg.lbl_mtto_sala_escoger_foto}}</label>
                          <div class="ui-g center">
                            <div id="idActivarFoto" (click)="activarFoto(0)" class="card card-af bg-c-gray order-card">
                              <div class="card-block">
                                <p class="font-b-500">
                                  <span class="f-left"><i
                                      class="material-icons {{srcFotoPrincipal != null ? 'success' : ''}}">star</i></span>
                                  {{msg.lbl_mtto_sala_foto_principal}}
                                  <span *ngIf="srcFotoPrincipal == null" class="f-right"><i
                                      class="material-icons">publish</i></span>
                                  <span *ngIf="srcFotoPrincipal != null" class="f-right success"><i
                                      class="font-bolder material-icons">check</i></span>
                                </p>
                              </div>
                            </div>
                          </div>
                          <div class="ui-g center">
                            <div id="idActivarLogo" (click)="activarFoto(1)" class="card card-af bg-c-gray order-card">
                              <div class="card-block">
                                <p class="font-b-500">
                                  {{msg.lbl_mtto_sala_foto}} {{msg.lbl_mtto_sala_1}}
                                  <span *ngIf="srcFoto1 == null" class="f-right"><i
                                      class="material-icons">publish</i></span>
                                  <span *ngIf="srcFoto1 != null" class="f-right success"><i
                                      class="font-bolder material-icons">check</i></span>
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="ui-g center">
                        <div class="ui-g-6 ui-lg-6 ui-md-6 ui-sm-12 ui-xs-12 ui-g-nopad">
                         <!-- Integrantes -->
                          
                        </div>
                      </div>
                    </div>

                    <div class="mdl-card__actions mdl-card--border">
                      <div class="ui-g center">
                        <div class="ui-g-2 ui-lg-2 ui-md-4 ui-sm-6 ui-xs-12 ui-g-nopad">
                          <button (click)="irAtras()" mdl-button mdl-tooltip-position="top"
                            mdl-tooltip-large="{{msg.lbl_tip_anterior}}" type="button" mdl-button-type="raised"
                            mdl-colored="primary">
                            <i class="material-icons">arrow_back</i> {{msg.lbl_btn_atras}}
                          </button>
                        </div>
                        <div class="ui-g-2 ui-lg-2 ui-md-4 ui-sm-6 ui-xs-12 ui-g-nopad">
                          <button (click)="irGuardar()" mdl-button mdl-tooltip-position="top"
                            mdl-tooltip-large="{{msg.lbl_tip_guardar}}" type="button" mdl-button-type="raised"
                            mdl-colored="accent">
                            <i class="material-icons">save</i> {{msg.lbl_btn_guardar}}
                          </button>
                        </div>
                      </div>

                      <div class="ui-g center">
                        <p-messages class="w100"></p-messages>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-scrollPanel>
    </mdl-layout-content>
  </mdl-layout>

  <!-- Importamos el Footer -->
  <app-footer></app-footer>
</div>